.App {
  font-family: sans-serif;
  text-align: center;
}
.board {
  display: inline-block;
  background-color: black;
  border: 0.3em solid black;
}

.piece {
  display: inline-grid;
  width: 30px;
  height: 30px;
  background-color: cyan;
  border: 0.2em solid black;
  align-content: center;
  justify-items: center;
  cursor: pointer;
  user-select: none;
}

.piece.empty-shot {
  color: white;
  background-color: navy;
}

.piece.boom {
  background-color: red;
  color: white;
}
